html 
    body 
        h1 Name : #{empdetails.fullname}
        h1 Email : #{empdetails.email}
        h1 Mobile : #{empdetails.mobile}
        h1 City: #{empdetails.city}
        h1 Profession: #{empdetails.profession}
        h1 Industry : #{empdetails.industry}



