html
    body 
        h1 Name : #{studdetails.fullname}
        h1 Email : #{studdetails.email}
        h1 Phone : #{studdetails.mobile}
        h1 City : #{studdetails.city}
        h1 Technology : #{studdetails.technology}
        h1 Company : #{studdetails.company}
